.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__body {
    display: flex;
    flex: 1;
    min-height: 0;
  }

  &__content {
    flex: 1;
    min-width: 0;
    padding: 24px;
    overflow-y: auto;
  }
}
